In [1]:
import pandas as pd

In [2]:
accounts = pd.read_csv('accounts.csv')
currencies = pd.read_csv('currencies.csv')
customers = pd.read_csv('customers.csv')
transactions = pd.read_csv('transactions.csv')

How many customers are there in finsight?

In [3]:
print("Total number of Finsight customers: ", customers.shape[0])

Total number of Finsight customers:  1000

How many customers are in active status?

In [4]:
print('Active customers: ', len(customers[customers['status'] == 'active']))

Active customers:  1000

How many customers do not have email address?

In [5]:
print('Customers without email address:', customers['email'].isnull().sum() + (customers['email'].str.strip() == '').sum())

Customers without email address: 0

How many accounts are there of each account type, and whatâ€™s the average balance for each type?

In [16]:
accounts.groupby(by= 'account_type')['balance'].agg(['count', 'mean']).rename(columns={'count': 'num_accounts', 'mean': 'average_balance'})

              num_accounts  average_balance
account_type
checking               477              0.0
investment             510              0.0
loan                   525              0.0
savings                522              0.0